/* Header */
@media only screen and (max-width: 600px) {
  .logo-img{
    max-width: 100%;
    height: 50%;
    margin-top: 24px;
  }
}

@media only screen and (min-width: 600px) {
  .logo-img{
    max-width: 100%;
    height: 100%;
    padding: 5px !important;
  }
}

@media only screen and (min-width: 768px) {
  .logo-img{
    max-width: 100%;
    height: 100%;
    padding: 5px !important;
  }
}

@media only screen and (min-width: 992px) {
  .logo-img{
    max-width: 100%;
    height: 100%;
    padding: 5px !important;
  }
} 

@media only screen and (min-width: 1200px) {
  .logo-img{
    max-width: 100%;
    height: 100%;
    padding: 0px !important;
  }
}

/* Mega Sala Explicacion */
.card-title-msdm{
  left: auto !important;
  right: 0;
}

/* Card de Aplicacion /Normativas y Otros */

.card-action-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-card-flex{
  margin: 3px;
}

/* Servicios */
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;  
}

.services-item{
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .services-item{
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .services-item{
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .services-item{
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .services-item{
    width: 33%;
  }
}

@media only screen and (min-width: 1200px) {
  .services-item{
    width: 33%;
  }
}

.service-title{
  padding: 30px;
}

/* Actividades */
.activity-title{
  padding: 30px;
}

/* Companies */

.companies-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.companies-items{
  height: 10%;
}

@media only screen and (max-width: 600px) {
  .companies-items{
    width: 30%;
  }
}

@media only screen and (min-width: 600px) {
  .companies-items{
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .companies-items{
    width: 21%;
  }
}

@media only screen and (min-width: 992px) {
  .companies-items{
    width: 10%;
  }
}

.companies-separation{
  padding-bottom: 64px;
}

/* Form */
.form-container {
  margin: 10px;
}
.form-buttons {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 20px 20px 20px;
}

.form-btn{
  margin: 10px;
}

.form-radio{
  margin: 15px;
}

.form-title{
  font-weight: 300;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.p-calendar {
  display: block !important;
}

/* Login */

.remove-password{
  position: absolute;
  right: 24px;
  bottom: 16px;
  cursor: pointer;
}

/* Solo cuando estan logaedos */

header, main {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main {
      padding-left: 0;
  }
}

table.highlight>tbody>tr:hover { background: #eeeeee ; }

.tabs .tab a{
  color:rgba(255,255,255,0.7);
} 

.tabs .tab a:hover {
  background-color: transparent;
  color:#fff;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:transparent;
  color:#fff;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#fff;
}

/* Applications */

.application-status {
  display: flex;
  align-items: center;
  justify-content: center;
}